<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.gcxl.daocloud.domain.repository.AccountRepository">

    <insert id="createNewAccount" parameterType="Account">
        insert into account (login_password, login_phone)
        values (#{loginPassword},#{loginPhone})
    </insert>

    <select id="findAccountByPhone" resultType="Account">
        select * from daocloud.account where login_phone = #{phone};
    </select>

    <update id="updateAccountPassword" parameterType="Account">
        update daocloud.account set login_password = #{loginPassword} where login_phone = #{loginPhone};
    </update>

</mapper>