<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.gcxl.daocloud.mapper.AccountMapper">
    <insert id="addAccount" parameterType="Account">
        insert into account (account_phone,account_pwd, account_vcode, account_role, account_perm)
        values (#{accountPhone},#{accountPwd},#{accountVcode}, #{accountRole}, #{accountPerm})
    </insert>
    <select id="qAList" resultType="Account">
        select * from daocloud.account ;
    </select>

    <select id="queryAccountByPhone" resultType="Account">
        select * from daocloud.account where account_phone = #{accountPhone};
    </select>

    <update id="updatePassword" parameterType="Account">
        update daocloud.account set account_pwd = #{accountPwd} where account_phone = #{accountPhone};
    </update>

</mapper>