<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.gcxl.daocloud.domain.repository.CheckinRepository">
  <resultMap id="BaseResultMap" type="com.fzu.gcxl.daocloud.domain.entity.Checkin">
    <id column="checkin_id" jdbcType="INTEGER" property="checkinId" />
    <result column="checkin_date" jdbcType="TIMESTAMP" property="checkinDate" />
    <result column="class_code" jdbcType="VARCHAR" property="classCode" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_close" jdbcType="INTEGER" property="isClose" />
    <result column="class_members" jdbcType="BIGINT" property="classMembers" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="checkin_locx" jdbcType="VARCHAR" property="checkinLocx" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="checkin_locy" jdbcType="VARCHAR" property="checkinLocy" />
  </resultMap>
  <sql id="Base_Column_List">
    checkin_id, checkin_date, class_code, duration, type, is_close, class_members, start_time, 
    end_time, checkin_locx, user_id, checkin_locy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkin
    where checkin_id = #{checkinId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkin
    where checkin_id = #{checkinId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fzu.gcxl.daocloud.domain.entity.Checkin">
    insert into checkin (checkin_id, checkin_date, class_code, 
      duration, type, is_close, 
      class_members, start_time, end_time, 
      checkin_locx, user_id, checkin_locy
      )
    values (#{checkinId,jdbcType=INTEGER}, #{checkinDate,jdbcType=TIMESTAMP}, #{classCode,jdbcType=VARCHAR}, 
      #{duration,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{isClose,jdbcType=INTEGER}, 
      #{classMembers,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{checkinLocx,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{checkinLocy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fzu.gcxl.daocloud.domain.entity.Checkin">
    insert into checkin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkinId != null">
        checkin_id,
      </if>
      <if test="checkinDate != null">
        checkin_date,
      </if>
      <if test="classCode != null">
        class_code,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isClose != null">
        is_close,
      </if>
      <if test="classMembers != null">
        class_members,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="checkinLocx != null">
        checkin_locx,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="checkinLocy != null">
        checkin_locy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkinId != null">
        #{checkinId,jdbcType=INTEGER},
      </if>
      <if test="checkinDate != null">
        #{checkinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classCode != null">
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isClose != null">
        #{isClose,jdbcType=INTEGER},
      </if>
      <if test="classMembers != null">
        #{classMembers,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinLocx != null">
        #{checkinLocx,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="checkinLocy != null">
        #{checkinLocy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzu.gcxl.daocloud.domain.entity.Checkin">
    update checkin
    <set>
      <if test="checkinDate != null">
        checkin_date = #{checkinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classCode != null">
        class_code = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isClose != null">
        is_close = #{isClose,jdbcType=INTEGER},
      </if>
      <if test="classMembers != null">
        class_members = #{classMembers,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinLocx != null">
        checkin_locx = #{checkinLocx,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="checkinLocy != null">
        checkin_locy = #{checkinLocy,jdbcType=VARCHAR},
      </if>
    </set>
    where checkin_id = #{checkinId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzu.gcxl.daocloud.domain.entity.Checkin">
    update checkin
    set checkin_date = #{checkinDate,jdbcType=TIMESTAMP},
      class_code = #{classCode,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      is_close = #{isClose,jdbcType=INTEGER},
      class_members = #{classMembers,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      checkin_locx = #{checkinLocx,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      checkin_locy = #{checkinLocy,jdbcType=VARCHAR}
    where checkin_id = #{checkinId,jdbcType=INTEGER}
  </update>



  <select id="selcetByClassCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from checkin
    where class_code = #{classCode,jdbcType=VARCHAR}
  </select>

  <select id="selcetCheckinByClassCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from checkin
    where class_code = #{classCode,jdbcType=VARCHAR}
  </select>

  <select id="selcetIdByClassCodeDate" resultType="java.lang.Integer">
    select <include refid="Base_Column_List" />
    from checkin
    where class_code = #{classCode,jdbcType=VARCHAR} and checkin_date = #{checkinDate,jdbcType=TIMESTAMP}
  </select>

  <select id="getOpenCheckClass" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from checkin
    where class_code = #{classCode,jdbcType=VARCHAR} and is_close = #{isClose,jdbcType=INTEGER}
  </select>


  <select id="getLimitedCheckin" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from checkin
    where class_code = #{classCode,jdbcType=VARCHAR} and end_time is not null
  </select>

</mapper>